[submodule "informatyka/1-stopien/2-semestr/programowanie-deklaratywne/tutorial-Artura"]
	path = informatyka/1-stopien/2-semestr/programowanie-deklaratywne/tutorial-Artura
	url = https://github.com/Vulwsztyn/prolog-for-dummies
